<!DOCTYPE>
<html>
    <head>
        <title>Kausali Lama</title>
        
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <meta charset="UTF-8">
        <meta name="description" content="Software Developer">
        <meta name="keywords" content="portfolio, personal website, software developer, engineer">
        <meta name="author" content="Kausali Lama">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/images/logo.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/public/css/style.css">
        <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script type="text/javascript" src="public/js/script.js"></script>
        <script type="text/javascript" src="public/js/parallax.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="body-wrapper">
        <a href="#hello" class="slide-section up-arrow"><img class="up-arrow-img" src="public/images/up.png" alt=""> </a>
        <a href="#hello1" class="slide-section up-arrow1"><img class="up-arrow-img" src="public/images/up.png" alt=""> </a>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul>
                <li><img id="personal_logo" src="public/images/hunt.png" alt=""></li>
                <li><a href="#aboutme" class="slide-section">Intro</a></li>
                <li><a href="#skills" class="slide-section">Skills</a></li>
                <li><a href="#experience" class="slide-section">Experience</a></li>
                <li><a href="#project" class="slide-section">Projects</a></li>
                <li><a href="#contact" class="slide-section">Contact</a></li>
            </ul>
        </div>
        
        <div id="hello">
            <div id="intro">
                <h2>Kausali Lama</h2>
                <hr>
                <p>Software Developer</p><br>
                <img class="bulb" src="public/images/bulb.png">
            </div>
        </div>
        <script src="public/js/particles.js"></script>
        <script src="public/js/app.js"></script>


        <div id="hello1">
                <div id="intro1">
                    <h2>Kausali Lama</h2>
                    <hr>
                    <p>Software Developer</p><br>
                    <img class="bulb1" src="public/images/bulb.png">
                </div>
            </div>
            <script src="public/js/particles.1.js"></script>
            <script src="public/js/app.1.js"></script>

            <div></div>
        
        <div id="aboutme">
            <div class="aboutme">	
                <h1>About me</h1>
                <hr>
            </div>
            <div class="description">
                <img class="profile-image" src="public/images/me1.jpg" alt="">
                <p>Hi! I am Kausali Lama.</p>
                <p>I am a Software Developer. For some background, I graduated with a major in Health Services Administration in 2016. While pursuing my undergrad I worked at the IT helpdesk as a technician.
                    My role as an IT Techician played a huge role in my life. I came to realize that technology was such a huge part of our lives and it was only going to get better and advance. ALthough I was facinated to the tech side of the world I wasn't sure if I wanted to change my majoy to CS. With all the uncertainties I kept on going and graduated. 
                </p>
                <p> After my graduation, I worked full time as a Service Desk Analyst at a global company. As an Analyst my job was not only limited to taking phone calls and fixing 
                    things that were broken. I had the opportunity to work with Business Analysts, Incident Managers and Developers. During this time I was absolutely facinated by 
                    what our Developers were doing. I knew I wanted to be the part of creating something that people could use. I started learing HTML and a bit of CSS and JS from 
                    w3schools.com. I fell in love with it and that's when I decided to join Coding Dojo to learn different languages in depth. </p>
                <p>At Coding Dojo I learned three full technology stacks (Python, Mean, C# ASP .NET). Throughout my course I developed web applications using Python, Mean, C# ASP .NET Core MVC framework. I enjoyed the learning process and seeing my codes working gave me the motivation that I could actually achieve something out of this.</p>
            </div>
        </div>
        <div id="skills">
            <div class="skills">	
                <h1>Skills</h1>
                <hr>
            </div>
            <div class="development-div">

                <h3>Development</h3>
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/70816-200.png" class="development">
            </div>
            
            <div class="skill-content">
                <div class="skill"><p class="text">HTML</p></div>
                <div class="skill"><p class="text"> CSS</p></div>
                <div class="skill"><p class="text">JavaScript</p></div>
                <div class="skill"><p class="text">Python</p></div><br>
                <div class="skill"><p class="text">MySQL</p></div>
                <div class="skill"><p class="text">C#</p></div>
                <div class="skill"><p class="text">.NET</p></div>
                <div class="skill"><p class="text">Node.js</p></div><br>
                <div class="skill"><p class="text">Angular</p></div>
                <div class="skill"><p class="text">Express</p></div>
                <div class="skill"><p class="text">MongoDB</p></div>
                <div class="skill"><p class="text">JQuery</p></div><br>
                <div class="skill"><p class="text">Bootstrap</p></div>
                <div class="skill"><p class="text">GitHub</p></div>
                <div class="skill"><p class="text">Django</p></div>
                <div class="skill"><p class="text">Ajax</p></div>
            </div>
            
        </div>
        <div id="experience" class="parallax" data-parallax="scroll"  data-image-src="public/images/laptop.jpg">
            <div class="myexperience">	
                <h1>Experience</h1>
                 <hr>
            </div>
            <div class="exp-main">
                <div class="wokexp">
                    <h3 class="white">Coding dojo, seattle </h3>
                    <p class="white"><font face="verdana">Completed 14-week intensive course at Coding Dojo to gain insight on web fundamentals and three full technology stacks. Throughout my course I developed web applications using Python, Mean, C# ASP .NET Core MVC framework. </font></p>
                        
                </div>
                <div class="wokexp">
                    <h3 class="white">C.H Robinson, eden prairie</h3>
                    <p class="white"><font face="verdana"> Shortly after my graduation I was employed at C.H. Robinson, a global logistic company, as a Service Desk Analyst. As an Analyst, I Diagnosed security issues and affectively translated complex, technical concepts into easy to understand language to assist non-technically oriented customers. Here I Learned about business and the importance of IT to the business. I also got to work along with the Business Analysts and programmers which hugely inspired me to learn programming languages. </p>
                        
                </div>
                <div class="wokexp">
                    <h3 class="white">Minnesota State University, Moorhead</h3>
                    <p class="white"><font face="verdana">While getting my drgree I was employed as IT Helpdesk Technician at MSUM. As Technician I monitored ticket system and provided second tier support for other peripheral equipment such as printers, scanners, and copiers. I also installed softwares on staff's computer as needed and provided assistance with hardware issues. </p>        
                </div>
                <div class="wokexp">
                    <h3 class="white">Minnesota state university, moorhead (MSUM) </h3>
                    <p class="white"><font face="verdana"> Completed Bachelors of Science in Health Services Administration from MSUM. Graduated with Mangna Cum Laude along with minor in Management and certification in Business Analytics.</p>
                </div>
                    
            </div>
        </div>

        <div id="project">
            <div class="myproject">	
                <h1>Projects</h1>
                <hr>
            </div>
            <div class="projectsections">
                <img class="project1" src="public/images/project1.png" alt="">
               
            </div>
            <div class="projectDescription">
                <p> I named this project "Message Wall". This application allows registered users to update messages on the wall, comment on someone else’s messages and allows them to delete the message/comment they create. User can also view their profile and other user’s profile. When user views someone’s profile, they can see all their messages and comments on their wall. With this project I wanted to work with sending data to backend and retrieve those data as needed. This project is created using HTML,CSS MySQL and Entity Framework in C# .NET.</p>
                <hr>
            </div>
            <div class="projectsections">
                <img class="project2" src="public/images/project2.png" alt="">
               
            </div>
            <div class="projectDescription">
                <p> This is a simple application that allows registered user to make travel plans. When user logs in, they will see the list of travel plan other users created. User can join the trip and also see the list of people who will be joining the trip. This application can be used to make travel plans with friends and family. This project is created using HTML, CSS, Python, Django and MySQL by following the MVC Framework. </p>
                <hr>
            </div>
            <div class="projectsections">
                <img class="project3" src="public/images/project3.png" alt="">
               
            </div>
            <div class="projectDescription">
                <p> This is a 2D Platform game that I created by collaborating with my friend (Yu). This project was created in Unity using C#. We wanted to experiment with Unity and see how games are created. This was our first time working in Unity so it was all trial and error. The character in the game runs, jumps and collects coins. Each coin is equivalent to certain points. When certain amounts of coins are collected level 2 will be unlocked. We have only worked on level 1 so far.  </p>
                <hr>
            </div>
        </div>


        <div id="contact">
            <div class="mycontact">	
                <h1>contact</h1>
                <hr>
            </div>
            <div id="contact-form">
                    
                <form action="sent" method="POST" id="myFOrm">
                
                    <Label class="form-name"><img class="form-icon" src="public/images/user.png" alt=""></Label> <input type="text" name="userName" placeholder="Your Name"id="name"><br>
                    <Label class="form-email"><img class="form-icon" src="public/images/mail.png" alt=""></Label> <input type="email" name="email" placeholder="Your Email" id="email"><br>
                    <textarea name="message" id="messgae" cols="30" rows="10" placeholder="Message.."></textarea><br>
                    <button id="submit" type="submit">Send</button>
                </form> 
                    {{# if success}}
                        <div class="success">
                            <h3 class="success-font">Message Sent</h3>
                        </div>
                    
                    {{ else}}
                        {{# if errors}}
                            <div class="errors">
                                <ul> <span class="li-font"> Your message was not sent becasue:</span><br>
                                    {{# each errors}}
                                    <li class="li-font">{{ this.msg }}</li><br>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                    {{/if}}

            </div>
        </div>

        <footer><span class="footer-class">This portfolio is created with node.js | View my resume <a class ="my_link" href="public/resume.pdf" target="_blank">here</a></span></footer>
    </div>
    </body>
</html>